html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.info-chat-container {
    width: fit-content;
    margin: 1% 0;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
    width: auto;
    padding: 1%;
    border-bottom: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.466);
    white-space: normal;
    display: grid;
    grid-template-columns: repeat(3);
    grid-template-rows: repeat(3);
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: minmax(min-content, max-content);
    flex-shrink: 1;
    background: linear-gradient(to bottom, #fad87b, rgb(255, 194, 103));
}

.avatar {
    border-radius: 50%;
    width: 68px;
    height: 65px;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.432);
    grid-column: 1;
    grid-row: 1 / 3;
    margin-top: 5%;
    margin-left: 50%;
}

.title {
    width: fit-content;
    display: flex;
    box-sizing: content-box;
    font-optical-sizing: auto;
    font-weight: bold;
    grid-column: 2;
    grid-row: 1;
    margin-left: 10%;
    margin-top: -0.5%;
    font-size: auto;
    overflow: hidden;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.212);
}

.lastmessage {
    box-sizing: content-box;
    font-optical-sizing: auto;
    color: #5c5237;
    grid-row: 2;
    grid-column: 2;
    width: fit-content;
    text-wrap: nowrap;
    overflow: hidden;
    margin-left: 14%;
    margin-top: -0.5%;
    font-size: auto;
    display: flex;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.336);
}

.lastmessagepage {
    margin-left: 8%;
    margin-top: -1.5%;
    grid-row: 2;
    grid-column: 2;
    display: none;
    width: 45px;
    height: 45px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.432);
    border-radius: 10px;
}

.time {
    font-optical-sizing: auto;
    overflow: hidden;
    color: #303030cb;
    grid-row: 1;
    grid-column: 3;
    margin-left: 65%;
    margin-top: 1%;
    font-size: auto;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.212);
    box-sizing: content-box;
    display: flex;
    position: sticky;
}

.read-indicator {
    overflow: hidden;
    box-sizing: content-box;
    font-optical-sizing: auto;
    color: #0067ac;
    grid-row: 2;
    grid-column: 3;
    margin-left: 67%;
    font-size: auto;
    margin-top: 0%;
    display: flex;
    position: sticky;
}
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.chat-list {
    padding: 0;
    flex: 1;
    overflow-y: auto;
    margin-top: 1%;
    margin-bottom: 2%;
    box-sizing: border-box;
    list-style: none;
}

.chat-container {
    flex: 1;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.create-chat-button {
    position: fixed;
    bottom: 10%;
    right: 4%;
    background-color: #202020e5;
    color: #ffffff;
    padding: 0.7% 0.7%;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    flex: 1;
    box-shadow: 0 2px 4px rgba(255, 168, 39, 0.719);
}
.create-chat-button:hover {
    background-color: rgba(75, 75, 75, 0.726);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

header {
    background: linear-gradient(to top, #ffffff, #c5c5c5);
    padding: 0.5%;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.432);
}

.h2 {
    margin: 0;
    margin-left: 36%;
    color: #000000;
    font-weight: bold;
    overflow: hidden;
    display: flex;
    font-size: auto;
    text-shadow: 0 4px 6px rgba(255, 184, 78, 0.582);
    font-size: 28px;
}

.burger-button:hover, 
.search-icon-chats :hover {
    background-color: rgba(75, 75, 75, 0.726);
}

.burger-button {
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 6px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    flex-shrink: 1;
    display: flex;
    background-color:rgba(0, 0, 0, 0.658);
    box-shadow: 0 2px 4px rgba(255, 168, 39, 0.719);
}

.search-icon-chats {
    margin-left: auto;
    margin-right: 2.5%;
    padding: 6px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    flex-shrink: 1;
    display: flex;
    background-color: rgba(0, 0, 0, 0.658);
    box-shadow: 0 2px 4px rgba(255, 168, 39, 0.719);
}

.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 15%;
    margin-left: 0;
    margin-right: 2.5%;
    overflow-x: hidden;
    display: flex;
    box-shadow: 0 2px 4px rgba(255, 168, 39, 0.719);
    background-color: rgba(255, 255, 255, 0.658);
}

.highlight {
    background-color: rgba(0, 174, 255, 0.377);
    padding: 1px;
    border-radius: 10px;
    display: inline-block;
    width: fit-content;
    display: flex;
    overflow: hidden;
}
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: rgba(36, 50, 65, 0.774);
    font-optical-sizing: auto;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.25;
    margin: 0;
}
