html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

header {
    background: linear-gradient(to top, #ffffff, #c5c5c5);
    padding: 16px;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    z-index: 1;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.432);
}

.h2 {
    margin: 0;
    margin-left: 0;
    color: #000000;
    font-weight: bold;
    overflow: hidden;
    display: flex;
    font-size: auto;
    text-shadow: 0 4px 6px rgba(255, 184, 78, 0.582);
    font-size: 28px;
}

.burger-button:hover, 
.search-icon-chats:hover {
    background-color: rgba(75, 75, 75, 0.726);
    transform: scale(1);
	animation: pulse 2s infinite;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.burger-button {
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 6px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    flex-shrink: 1;
    display: flex;
    background-color:rgba(0, 0, 0, 0.658);
    box-shadow: 0 2px 4px rgba(255, 168, 39, 0.719);
    
}

.search-icon-chats {
    margin-left: auto;
    margin-right: 2.5%;
    padding: 6px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    flex-shrink: 1;
    display: flex;
    background-color: rgba(0, 0, 0, 0.658);
    box-shadow: 0 2px 4px rgba(255, 168, 39, 0.719);
}

.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 15%;
    margin-left: 0;
    margin-right: 2.5%;
    overflow-x: hidden;
    display: flex;
    box-shadow: 0 2px 4px rgba(255, 168, 39, 0.719);
    background-color: rgba(255, 255, 255, 0.658);
    animation: fadeIn 0.5s ease-in-out;
}

.highlight {
    background-color: rgba(0, 174, 255, 0.377);
    padding: 1px;
    border-radius: 10px;
    display: inline-block;
    width: fit-content;
    display: flex;
    overflow: hidden;
    transition: background-color 1s ease-in-out;
}

@keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.74);
      box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.699);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}