html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: linear-gradient(to bottom, #68645f, rgb(66, 66, 66));
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 20px;
}
header {
    background: linear-gradient(to top, #ffffff, #c5c5c5);
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back-button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-right: 16px;
}

.back-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

h1 {
    font-weight: 500;
    margin: 0;
    color: #000;
    font-weight: bold;
}

.search-icon {
    background-color: transparent;
    border: none;
    padding: 0;
    margin-left: 16px;
    cursor: pointer;
}

.search-icon:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.sent-message {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.message-list {
    padding: 16px;
    flex: 1;
    overflow-y: auto;
}

.message-bubble {
    word-wrap: break-word;
    white-space: normal;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 50px;
    list-style: none;
    background: linear-gradient(to bottom, #ffda73, rgb(255, 194, 103));
    width: fit-content;
    max-width: 40%;
}

.message-text {
    font-size: 19px;
    color: #000000;
}

.message {
    padding: 16px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    animation: fade-in 0.5s;
}

.message:last-child {
    border-bottom: none;
}

.input-container {
    padding: 16px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
}

.message-input-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.form-input {
    flex-grow: 1;
    padding: 12px;
    border: 1px solid #d1d1d1;;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    width: auto;
    overflow-y: auto;
    resize: none;
    min-width: 1ch;
    max-width: 100%;
}

.form-input:focus + .send-button {
    display: inline-block;
}

.form-input:not(:placeholder-shown) + .send-button {
    display: inline-block;
}

.mic-button, .file-button, .send-button {
    margin-left: 16px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    color: #000000;
    cursor: pointer;
    flex-shrink: 0 8px;
}

.mic-button:hover, .file-button:hover, .send-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.send-button {
    display: none;
}

.button-group {
    display: flex;
    justify-content: right;
    align-items: center;
}

.metadata {
    font-size: 15px;
    color: #5a5a5a;
    margin-top: 12px;
    margin-right: auto;
    white-space: nowrap;
    text-align: right;
    font-weight: bold;
}

.sender {
    font-weight: bold;
    margin-right: 6px;
    text-align: right;
}

.timestamp {
    margin-right: 10px;
    font-weight: bold;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}